@import "tailwindcss";

:root {
  --color-primary: #181920;
  --color-secondary: #21222C;
  --color-accent: #2563eb;
  --color-income: #16a34a;
  --color-expense: #dc2626;
  --color-text-primary: #ffffff;
  --color-text-secondary: #9ca3af;
}

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-income: var(--color-income);
  --color-expense: var(--color-expense);
  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);
}

body {
  background-color: var(--color-primary);
  color: var(--color-text-primary);
}